//=======================
// Dependencies
//=======================
@require './../../../base/css/variables.styl'
@require './../../../base/css/helpers.styl'

//=======================
// Chart Mod Variables
//=======================
$chart-name = tale-tape

.chart--{$chart-name}
	@require './main.styl'
	$sports = {
		baseball: $redsox-secondary
		basketball: $celtics-secondary
		football: $patriots-secondary
		hockey: $bruins-secondary
	}
	for sport, color in $sports
		&.chart--{sport}
			li.measure ul.values li:first-child
				background color
				span
					color color
