//=======================
// Dependencies
//=======================
@require './../../../base/css/variables.styl'
@require './../../../base/css/helpers.styl'

//=======================
// Chart Mod Variables
//=======================
$chart-name = tale-tape

#chart--{$chart-name}
	@require './main.styl'