.chart-top--hed span.player
	color $gray-secondary

.chart-top--subhed
	display none

.chart-container

	li.measure

		margin-top 1em

		p.name
			span
				text-transform uppercase
				color $gray-tertiary
				font-size $label-size

		ul.values
			padding-right 2.5em

			li
				text-align right
				line-height 1.25
				background $gray-secondary
				min-width 1em
				span
					font-size $label-size
					display inline-block
					color $text
					padding-left 0.2em
					transform translateX(100%)
