// $sports = {
// 	baseball: $redsox-secondary
// }

// header h1

// 	line-height 1.25

// 	&.players a
// 		color $gray-secondary

.chart-container

	li.measure

		margin-top 1em

		p.name
			span
				text-transform uppercase
				color $gray-tertiary
				font-size $label-size

		ul.values

			li
				text-align right
				line-height 1.25
				background $gray-secondary
				min-width 3px
				span
					font-size $label-size
					display inline-block

					&.inside
						padding-right 0.2em
						color $text

					&.outside
						color $text
						padding-left 0.2em
						transform translateX(100%)

				&:first-child
					span
						&.inside
							color white

// 	header.{sport}
// 		h1.players a:first-child
// 			color color
