@require './../../../base/css/variables.styl'
@require './../../../base/css/base.styl'

svg
	display block

canvas
	display block
	width 100%
	position absolute
	top 0
	left 0
	image-rendering pixelated
