//=======================
// Dependencies
//=======================
@require './../../../base/css/variables.styl'
@require './../../../base/css/helpers.styl'

//=======================
// Chart Mod Variables
//=======================
$chart-name = point-differential

.chart--{$chart-name}
	@require './main.styl'

.chart--{$chart-name}
	@require './main.styl'
	$sports = {
		baseball: $redsox-secondary-as-fill
	}
	for sport, color in $sports
		&.chart--{sport}
			svg g.bars rect
				fill $gray-tertiary
				&.positive
					fill color
