.chart-y-axis-title
	font-size 0.8em

svg

	&.hidden
		visibility hidden

	.axis
		.tick
			font-size 0.9em
		path.domain
			stroke none

	.axis path,
	.axis line
		fill none
		stroke lighten(black, 75)
		shape-rendering crispEdges

	.axis line
		stroke-dasharray 1 4

	g.lines
		path
			fill none
			stroke black
			stroke-width 1px

	g.labels-hidden
		visibility hidden

	g.labels,
	g.labels-hidden

		&.hidden
			opacity 0

		circle, rect
			display none

		text
			font-size 0.8em
