//=======================
// Dependencies
//=======================
@require './../../../base/css/variables.styl'
@require './../../../base/css/helpers.styl'
@require './../../../utils/slider/slider.styl'

//=======================
// Chart Mod Variables
//=======================
$chart-name = baseball-spraychart

.chart--{$chart-name}
	@require './key.styl'
	@require './main.styl'
