@require '../../../base/css/reset.styl'
@require '../../../base/css/variables.styl'
@require '../../../base/css/helpers.styl'
@require '../../../base/css/typography.styl'

.chart-container
	width 300px
	position relative

svg
	display block

	.ballpark
		fill $gray-pale
		stroke $gray-pale
		stroke-width 3px

	.grid
		fill none
		stroke white

	.infield
		fill white

	.diamond
		fill $gray-pale

canvas
	display block
	width 100%
	position absolute
	top 0
	left 0
