.chart-container
	width 320px
	position relative

svg
	display block

	.ballpark
		fill #ededed
		stroke #ededed
		stroke-width 3px

	.grid
		fill none
		stroke white

	.infield
		fill white

	.diamond
		fill #ededed

canvas
	display block
	position absolute
	top 0
	left 0