//=======================
// Dependencies
//=======================
@require './../../../base/css/variables.styl'
@require './../../../base/css/helpers.styl'

//=======================
// Chart Mod Variables
//=======================
$chart-name = previous-ten

.chart--{$chart-name}
	@require './main.styl'
	$sports = {
		baseball: $redsox-primary
		basketball: $celtics-primary
		football: $patriots-primary
		hockey: $bruins-primary
	}
	for sport, color in $sports
		&.chart--{sport}
			.win:before, .win:after, .win td:first-child
				color darken(color, 6)
