*, *:before, *:after
	color $text

header
	border-top solid $text 0.225em
	padding-top 0.5em
	margin-bottom 1em
	h1
		text-transform uppercase
		font-size $header-1-size

.chart-container
	width 100%
	position relative

main
	padding-bottom 1em
	border-bottom solid $text 1px

