$prefix = chart

body
	position relative

// Main Class
.{$prefix}
	position relative
	padding-bottom 1em
	border-bottom solid $text 1px

// Chart Container
.{$prefix}-container
	width 100%
	position relative

// Header
.{$prefix}-top
	border-top solid $text 0.225em
	padding-top 0.5em
	margin-bottom 1em
	&--hed
		text-transform uppercase
		font-size $header-1-size
		color $text
	&--subhed
		margin-top 0.5em
		font-size 1em
		color $gray-secondary
		span
			color currentColor

// Explainer
.{$prefix}-explainer
	margin-top 0.5em
	a
		display block
		color $gray-secondary
		text-align right
		line-height 1.8
		font-size 0.8em
	p
		color $gray-secondary
		font-family $sans
		font-size 0.8em
		font-weight 300
		line-height 1.6

// Default Hide (non-accessible)
.display-none
	hidden()

// Version
.chart-version
	position absolute
	color $gray-secondary
	font-size $notes-size
	bottom 0
	right 0
