$header-1-size = 1.424em
$header-2-size = 1.125em
$label-size = 0.889em
$unitlabel-size = 0.79em
$notes-size = 0.65em
$spacer = 0.75em

// typography
$sans = Helvetica, Arial, sans-serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$serif = Georgia, Times, serif

//=======================
// Colors
//=======================

// Red Sox
$redsox-primary = #ff0048 // accessible on white
$redsox-secondary = #ff4646 // accessible on white
// $redsox-secondary = #ff6666 // NOT accessible on white
$redsox-secondary-as-fill = #ff6666
$redsox-tertiary = #ffa7a7
$redsox-bg = #ffe6e6
$redsox-team = #b83039

// Bruins
$bruins-primary = #c17a00 // accessible on white
$bruins-primary-as-fill = #ffa300
// $bruins-primary = #ffa300 // NOT accessible on white
$bruins-secondary = #ffdb66
$bruins-tertiary = #ffd899
$bruins-bg = #ffebcc
$bruins-team = #333333

// Celtics
$celtics-primary = #02a554 // accessible on white
// $celtics-primary = #02c664 // NOT accessible on white
$celtics-secondary = #7ef183
$celtics-tertiary = #b3ffb5
$celtics-bg = #e6ffe7
$celtics-team = #008048

// Patriots
$patriots-primary = #0029F2
$patriots-secondary = #6695FF
$patriots-tertiary = #B3C3FF
$patriots-bg = #E6EBFF
$patriots-team = #002244

// Grays/Opposing
$gray-primary = #333333 // accessible on white
$gray-secondary = #858585 // accessible on white
$gray-tertiary = #8e8e8e // accessible on white 
// $gray-tertiary = #AEAEAE // NOT accessible on white 
$gray-bg = #e1e1e1
$gray-pale = #ededed

$text = #333333
