$header-1-size = 1.424em
$header-2-size = 1.125em
$label-size = 0.889em
$unitlabel-size = 0.79em
$notes-size = 0.65em
$spacer = 0.75em

// typography
$sans = Helvetica, Arial, sans-serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$serif = Georgia, Times, serif

//=======================
// Colors
//=======================
// Red Sox
$redsox-primary = #ff0048
$redsox-secondary = #ff4646
$redsox-tertiary = #ffa7a7
$redsox-bg = #ffe6e6
$redsox-team = #b83039

// Bruins
$bruins-primary = #ffa300
$bruins-secondary = #ffdb66
$bruins-tertiary = #ffd899
$bruins-bg = #ffebcc
$bruins-team = #333333

// Celtics
$celtics-primary = #02c664
$celtics-secondary = #7ef183
$celtics-tertiary = #b3ffb5
$celtics-bg = #e6ffe7
$celtics-team = #008048

// Patriots
$patriots-primary = #0029F2
$patriots-secondary = #6695FF
$patriots-tertiary = #B3C3FF
$patriots-bg = #E6EBFF
$patriots-team = #002244

// Grays/Opposing
$gray-primary = #333333
$gray-secondary = #858585
$gray-tertiary = #8e8e8e
$gray-bg = #e1e1e1
$gray-pale = #ededed

$text = #333333
