$header-1-size = 1.424em
$header-2-size = 1.125em
$label-size = 0.889em
$unitlabel-size = 0.79em
$notes-size = 0.65em
$spacer = 0.75em

.displayNone
	display none

$redsox-primary = #ff0048
$redsox-secondary = #ff6666
$redsox-tertiary = #ffa7a7
$redsox-bg = #ffe6e6
$redsox-team = #b83039

$gray-primary = #333333
$gray-secondary = #858585
$gray-tertiary = #aeaeae
$gray-bg = #e1e1e1
$gray-pale = #ededed

$text = #333333

// typography
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
