//=======================
// Dependencies
//=======================
@require './../../../base/css/variables.styl'
@require './../../../base/css/helpers.styl'

//=======================
// Chart Mod Variables
//=======================
$chart-name = hockey-shotchart

.chart--{$chart-name}
	@require './key.styl'
	@require './main.styl'