@require './../../../base/css/variables.styl'

$lineColor = #fff
$bruins-primary = #FFA300
$bruins-team = #333333
.rink
	&-bg 
		fill $gray-pale
		
	&-line
		stroke $lineColor
		stroke-width 2px
	
	&-rect
		fill $lineColor
	
	&-circle 
		fill transparent 
		stroke-width 2px 
		stroke $lineColor
	
	&-circle-fill
		fill $lineColor
		stroke-width 0

.shot 
	// stroke-width 2px
	stroke-width 0
	shape-rendering cripseEdges
	opacity 0
	&.made 
		stroke $bruins-team
		fill $bruins-primary
		// fill $bruins-team
	&.missed 
		stroke none
		fill transparent
		fill $bruins-team
		fill #999
		// fill $bruins-primary