@require './../../../base/css/variables.styl'

$lineColor = #fff
$bruins-primary = #FFA300
$bruins-team = #333333

.key 
	width 100% 
	overflow hidden
	margin-bottom 0.5em
	li
		float left
		line-height 1
		display block
		margin-right 0.5em
		span
			display inline-block
			width 8px
			height 8px
			vertical-align middle
			border-radius 4px
			&.made
				background $bruins-primary
				border 1px solid $bruins-team
			&.missed
				background $bruins-team
				border 1px solid $bruins-team
				opacity 0.25


.rink
	&-bg 
		fill $gray-pale
		
	&-line
		stroke $lineColor
		stroke-width 2px
	
	&-rect
		fill $lineColor
	
	&-circle 
		fill transparent 
		stroke-width 2px 
		stroke $lineColor
	
	&-circle-fill
		fill $lineColor
		stroke-width 0

.shot 
	shape-rendering cripseEdges
	&.made 
		stroke $bruins-team
		fill $bruins-primary
	&.missed 
		stroke $bruins-team
		fill $bruins-team