.slider-container
	width 100%
	margin 1em 0 0 0
	text-align center
	position relative

	.dates
		width 100%
		overflow hidden
		margin-top 0.25em
		span
			font-size $label-size

		.start
			float left

		.end
			float right

	.tooltip-wrapper
		position relative
		overflow hidden
		margin 0.25em auto

		.tooltip
			position absolute
			top 0

			span
				white-space nowrap

	input[type=range]
		// -webkit-appearance none
		display block
		height 22px
		margin 0 auto
		padding 0 0.125em
		width 100%
		cursor pointer

	// hide IE tooltip
	input[type=range]::-ms-tooltip
		display none

	// input[type=range]::-webkit-slider-thumb
	// 	-webkit-appearance none
	// 	box-sizing content-box
	// 	box-shadow 0 0 2px alpha($gray-primary, 0.75)
	// 	height 22px
	// 	width 22px
	// 	border-radius 18px
	// 	background white
	// 	cursor ew-resize
	// 	margin-top -9px

	// input[type=range]::-moz-range-thumb
	// 	border 12px solid #a6d8ef
	// 	height 8px
	// 	width 8px
	// 	border-radius 18px
	// 	background-color $redsox-redsox-3
	// 	cursor ew-resize
	// 	margin-top -14px
	// 	opacity .7

	// input[type=range]::-ms-thumb
	// 	display inline-block
	// 	border 12px solid #a6d8ef
	// 	height 8px
	// 	width 8px
	// 	border-radius 18px
	// 	background-color $redsox-redsox-3
	// 	cursor ew-resize
	// 	margin-top 5px; /* note different margin-top for IE */

	// input[type=range]::-webkit-slider-runnable-track
	// 	height 6px
	// 	border-color transparent
	// 	color transparent
	// 	background-color $gray-pale

	// input[type=range]::-moz-range-track
	// 	height 6px
	// 	background-color $gray-gray-pale

	// input[type=range]::-ms-track
	// 	border-color transparent
	// 	color transparent
	// 	height 6px
	// 	background-color $gray-pale

	// input[type=range]::-ms-fill-lower
	// 	background-color $redsox-3

	// input[type=range]::-moz-range-progress
	// 	background-color $redsox-redsox-3

	// input[type=range]::-ms-tooltip
	// 	display none

