// these should be in base / util colors.styl
$gray-light = #ededed
$above = #ef8a62
$average = #ccc
$below = #67a9cf

// $above = #008048
// $average = #02C664
// $below = #7EF183

svg 
	background-color $gray-light

.above
	fill $above
.average
	fill $average
.below
	fill $below