// these should be in base / util colors.styl
@require('../../../base/css/variables.styl')

$above = #ef8a62
$average = #ccc
$below = #67a9cf

// $above = #008048
// $average = #02C664
// $below = #7EF183

$court = rgba(#fff, 1)
$basket = rgba(#fff, 0.75)
$strokeWidth = 2px 

.display-none 
	display none

svg path 
	shape-rendering crispEdges
	
.chart-container svg 
	background-color $gray-pale

.key 
	&-container
		height 100%
		overflow hidden
		clear both
		> * 
			float left
		p 
			padding-top 0.1em
			color $gray-secondary
			text-transform uppercase
			font-size 0.8em

	&-frequency
		.hexagon
			fill $gray-secondary

.above
	fill $above
.average
	fill $average
.below
	fill $below
	// fill transparent
	// stroke $above

.court 
	&-line
		stroke $court
		stroke-width $strokeWidth
	
	&-shape 
		stroke $court 
		stroke-width $strokeWidth
		fill transparent
		
	.round 
		stroke-linecap round
	// .paint 
	// 	fill $court
		
	.free-throw-arc-under 
		stroke-dasharray 7.8

.basket
	stroke $basket
	stroke-width $strokeWidth
	fill transparent

// TODO move to base?
.explainer
	a 
		display block
		color $gray-secondary
		text-align right
		line-height 1.8
		font-size 0.8em

	p 
		color $gray-secondary
		font-family $sans
		font-size 0.8em
		font-weight 300
		line-height 1.6