// these should be in base / util colors.styl
$gray-light = #ededed

$above = #ef8a62
$average = #ccc
$below = #67a9cf

// $above = #008048
// $average = #02C664
// $below = #7EF183

$court = rgba(#fff, 1)
$basket = rgba(#fff, 0.75)
$strokeWidth = 2px 

.chart-container svg 
	background-color $gray-light

.above
	fill $above
.average
	fill $average
.below
	fill $below
	// fill transparent
	// stroke $above

.court 
	&-line
		stroke $court
		stroke-width $strokeWidth
	
	&-shape 
		stroke $court 
		stroke-width $strokeWidth
		fill transparent
		
	.round 
		stroke-linecap round
	// .paint 
	// 	fill $court
		
	.free-throw-arc-under 
		stroke-dasharray 7.8

.basket
	stroke $basket
	stroke-width $strokeWidth
	fill transparent